In [6]:
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

In [7]:
# Load .env file
load_dotenv(dotenv_path=".env")  # Adjust path if .env is not in the same directory

False

In [16]:
# Retrieve environment variables
db_user = os.getenv("POSTGRES_USER")
db_password = os.getenv("POSTGRES_PASSWORD")
db_host = "localhost"
db_port = os.getenv("HOST_PORT")
db_name = "airflow"

In [17]:
# Create SQLAlchemy engine
connection_string = f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(connection_string)

In [18]:
# Query example
query = "SELECT * FROM eia_processed_data LIMIT 10"
df = pd.read_sql(query, engine)

# Display data
df.head()

,date,price,series_description,product_name,area_name,units
0,2025-05-12,63.32,"Cushing, OK WTI Spot Price FOB (Dollars per Ba...",WTI Crude Oil,NA,$/BBL
1,2025-05-09,62.37,"Cushing, OK WTI Spot Price FOB (Dollars per Ba...",WTI Crude Oil,NA,$/BBL
2,2025-05-08,61.25,"Cushing, OK WTI Spot Price FOB (Dollars per Ba...",WTI Crude Oil,NA,$/BBL
3,2025-05-07,59.42,"Cushing, OK WTI Spot Price FOB (Dollars per Ba...",WTI Crude Oil,NA,$/BBL
4,2025-05-06,60.42,"Cushing, OK WTI Spot Price FOB (Dollars per Ba...",WTI Crude Oil,NA,$/BBL